@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

:root{
    --Strong_Cyan: hsl(171, 66%, 44%);
    --Light_Blue: hsl(233, 100%, 69%);
    --Dark_Grayish_Blue: hsl(210, 10%, 33%);
    --Grayish_Blue: hsl(201, 11%, 66%);
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Grayish_Blue);
}

p{
    font-size: 1rem;
}

a{
    text-decoration: none;
}

h1{
    color: var(--Dark_Grayish_Blue);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem 5rem 5rem;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-bottom: 10rem;
}

header .logo_image{
    margin-bottom: 2rem;
}

header .logo_image img{
    max-width: 85%;
    margin: 0 auto;
}

header p{
    max-width: 55ch;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

.button{
    display: flex;
    margin-top: 3rem;
    align-items: center;
}

.button a{
    color: white;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
    font-weight: 600;
}

.button a:hover{
    opacity: 0.7;
}

.button a:first-child{
    background: var(--Strong_Cyan);
    margin-right: 0.5rem;
    border-bottom: 3px solid hsl(171, 66%, 35%);
}

.button a:last-child{
    background: var(--Light_Blue);
    margin-left: 0.5rem;
    border-bottom: 3px solid hsl(233, 94%, 58%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .desktop_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.desktop_section .title_paragraph{
    max-width: 60ch;
    text-align: center;
    margin: 1rem 0 4rem;
}

.desktop_section .computer{
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
}

.right .sub_section{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 3rem;
}

.right .sub_section h1{
    font-size: 1.5rem;
    width: fit-content;
}

.right .sub_section p{
    max-width: 35ch;
    font-size: 15px;
    margin-top: 0.7rem;
}

.left{
    position: relative;
    right: 10rem;
    width: 60%;
}

.left img{
    width: 100%;
}

.mobile_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile_section p{
    max-width: 60ch;
    text-align: center;
    margin-top: 1rem;
}

.mobile_section div{
    margin: 5rem 0;
}

.banner_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner_section .tools{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    padding: 4rem 10rem;
    text-align: center;
}

.first { 
    grid-area: 1 / 1 / 2 / 2; 
}

.second { 
    grid-area: 1 / 2 / 2 / 3; 
}

.third { 
    grid-area: 1 / 3 / 2 / 4; 
}

.tools img{
    margin: 0 auto;
}

.banner_section p{
    margin-top: 1rem;
}

.tools h1{
    font-size: 1.6rem;
}

.recomandation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    width: 100%;
    padding: 5rem;
}

.google { 
    grid-area: 1 / 1 / 2 / 2; 
}

.imb { 
    grid-area: 1 / 2 / 2 / 3; 
}

.microsoft { 
    grid-area: 1 / 3 / 2 / 4; 
}

.hp { 
    grid-area: 1 / 4 / 2 / 5; 
}

.vector-graphics { 
    grid-area: 1 / 5 / 2 / 6; 
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first div, .second div, .third div{
    margin-bottom: 2rem;
    width: 3rem;
    height: 3rem;
}

.google, .hp, .microsoft, .imb, .vector-graphics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clipboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 10rem;
}

.clipboard p{
    max-width: 60ch;
    text-align: center;
    margin-top: 1rem;
}

footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    background: hsla(202, 11%, 66%, 0.1);
    color: var(--Dark_Grayish_Blue);
    padding: 2rem;
}

.logo_footer { 
    grid-area: 1 / 1 / 2 / 2; 
}

.links { 
    grid-area: 1 / 2 / 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.links a:nth-child(5n+1) { grid-area: 1 / 1 / 2 / 2; }
.links a:nth-child(5n+2){ grid-area: 2 / 1 / 3 / 2; }
.links a:nth-child(5n+3){ grid-area: 1 / 2 / 2 / 3; }
.links a:nth-child(5n+4){ grid-area: 2 / 2 / 3 / 3; }
.links a:nth-child(5n){ grid-area: 1 / 3 / 2 / 4; }

.links a{
    color: var(--Dark_Grayish_Blue);
}

.links a:hover{
    color: var(--Strong_Cyan);
}

.media { 
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    height: 1.75rem;
    align-items: center;
    margin: auto 0;
}

.media i{
    color: var(--Dark_Grayish_Blue);
    margin-right: 1rem;
}

.media img{
    margin-right: 1rem;
}

.logo_footer{
    width: 4rem;
    margin: 0 auto;
}

.fa-brands{
    font-size: 2rem;
}

.media i:hover{
    color: var(--Strong_Cyan);
}

@media (max-width:600px) {
    header{
        padding: 2rem;
        text-align: center;
        padding-bottom: 10rem;
        background-image: url(images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        padding-top: 10rem;
    }

    header p{
        max-width: 30ch;
    }

    .button{
        flex-direction: column;
    }

    .button a:first-child{
        margin-right: 0;
        margin-bottom: 1.5rem;
    }
    
    .button a:last-child{
        margin-left: 0;
    }

    .button a{
        padding: 0.7rem 4rem;
    }

    .container{
        padding: 0 2rem;
    }

    .container .desktop_section {
        text-align: center;
    }

    .desktop_section .title_paragraph {
        max-width: 30ch;
    }

    .desktop_section .computer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .left {
        position: initial;
        right: 0;
        width: 100%;
    }

    .right .sub_section {
        text-align: center;
    }

    .right .sub_section h1 {
        margin: 0 auto;
    }

    .right .sub_section p {
        max-width: 30ch;
    }

    .mobile_section {
        text-align: center;
    }

    .mobile_section p {
        max-width: 30ch;
    }

    .banner_section {
        text-align: center;
    }

    .banner_section p {
        max-width: 30ch;
    }

    .banner_section .tools {
        display: block;
        padding: 0;
        margin-top: 5rem;
    }

    .flex {
        margin-bottom: 3rem;
    }

    .recomandation {
        display: block;
        padding: 0;
        margin-top: 5rem;
    }

    .google, .hp, .microsoft, .imb, .vector-graphics {
        margin-bottom: 4rem;
    }

    .clipboard {
        text-align: center;
    }

    .clipboard p {
        max-width: 30ch;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }

    .links a {
        margin-bottom: 1.5rem;
    }

    .media i {
        margin-right: 2rem;
    }
}